name: CI Demo

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Build (Demo)
        run: echo "Build Successful"

      - name: Run Tests (Demo)
        run: echo "Tests Passed"
